<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chattyhive.chattyhive"
    android:versionCode="10"
    android:versionName="0.4.5" >
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <application
        android:name=".framework.Util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/launcher_launcher_b"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".backgroundservice.CHService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service android:name=".Authentication.ChattyhiveAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>


        <receiver android:name=".backgroundservice.CHServiceLauncher" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".backgroundservice.CHServiceNetworkListener" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".backgroundservice.CHAlarmReceiver" />

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.WithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateUnspecified" >
        </activity>
        <activity
            android:name=".Explore"
            android:label="@string/title_activity_explore"
            android:theme="@style/AppTheme.WithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateUnspecified" >
        </activity>
        <activity
            android:name=".NewHive"
            android:label="NewHive"
            android:theme="@style/AppTheme.WithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateUnspecified"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Authentication.RegisterActivity"
            android:label="@string/title_activity_register"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateUnspecified">
        </activity>
    </application>
</manifest>